@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    position: relative;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background-color: #080a0e;
  }

  h1 {
    color: rgb(226, 226, 226);
    border-radius: 5rem;
    background-color: transparent;
    margin-bottom: 3rem;
    font-size: 6rem;
    backdrop-filter: blur(10px);
  }

  h1::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 1%;
    background: linear-gradient(to right, rgba(33, 155, 223, 0) 0%, rgba(33, 155, 223, 0.91) 50%, rgba(33, 155, 223, 0) 100%);
    box-shadow: 0px 6px 12px -7px rgba(33, 155, 223, 0.91);
    z-index: -1;
  }

  h2 {
    color: white;
  }

  p {
    color: rgb(202, 201, 201);
  }

  .background-images {
    display: flex;
    position: relative;
    position: absolute;
    justify-content: center;
    top: 0;
    width: 100%;
    transform: translateY(-200px) translateZ(0px);
  }

  .background-images img {
    position: absolute;
    top: 0;
    max-height: 100vh;
    width: 80%;
  }

  .image-left {
    left: 0;
  }

  .image-right {
    right: 0;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100%;
    padding: 1rem;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
  }

  .logo-container img {
    max-width: 20rem;
  }

  .developing-website {
    padding: .5rem 1.5rem;
    border-radius: 2rem;
    background-color: black;
    color: white;
  }

  @media screen and (max-width: 500px) {
    .main-container {
      gap: 2rem;
    }

    .background-images img {
      height: 100vh;
    }

    h1 {
      font-size: 4rem;
    }
  }